@import url('/typefaces/Poppins/poppins.css');
@import url('/typefaces/Bumbbled/bumbbled.css');
@import 'tailwindcss';

@theme {
	--font-poppins: poppins, "ui-sans-serif", "system-ui", sans-serif;
	--font-bumbbled: bumbbled, "Brush Script MT", "Comic Sans MS", cursive;
	--font-sans: var(--font-poppins);
}

@utility animate-imgFloat {
	animation: imgFloat 5s ease-in-out infinite;
}

@keyframes imgFloat {
	50%{
		transform: translateY(10px);
		border-radius: 45% 55% 45% 55%;
	}
}